@model List<ResAktWebb.Models.Menu>

@{
    ViewData["Title"] = "FullMenu";

}



<div class="my-div">
    <div class="menu-div">Restaurang SeaSharp</div>


    @foreach (var m in Model)
    {
        <div class="menu-maincategory">@Html.DisplayFor(x => m.Name)</div>
        @foreach (var mC in m.MenuCategory)
        {
            <div class="menu-subcategory">@Html.DisplayFor(x => mC.Name)</div>
            @foreach (var mI in mC.MenuItems)
            {
                <div class="menu-item">
                    <div>@Html.DisplayFor(x => mI.Name)</div>
                    <div>
                        @Html.DisplayFor(x => mI.Description)
                    </div>
                    <div class="menu-allergy">
                        (Allergier: @Html.DisplayFor(x => mI.Allergies))
                    </div>
                </div>
            }
        }



        <hr />
    }
</div>